<% include header %>
<% include navigatie %>
<div class="tabs"><h1>OVER HET MUSEUM</h1>
<p>Het originele woonhuis en atelier van de uitgeversfamilie Plantin-Moretus biedt u een unieke historische ervaring. Het is dan ook Unesco-werelderfgoed. De geschiedenis van boek, drukkunst en ondernemingszin klinkt door in het krakend eikenhout. Hier vindt u de oudste drukpersen ter wereld, en nog veel meer ...</p></div>
<% include footer %>
