<!doctype html>
<html>
	<head>
		<title>MUSEUM PLANTIN MORETUS</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class"foto2">
		<img src="/img/logo_mpm_online_rgb.png" class="pm" alt="plantin-moretus">
		</div>
